*{
    margin: 0;
    padding:0;
    box-sizing: border-box; /*el ancho ocupe el borde y el padding  */
    background: rgb(171, 41, 119); 
  
  }
  
  .form_titulo h2 {  
    padding: 20px ;
    font-family: calibri;
    font-size: 35px;
    color:rgb(253, 248, 251);
    text-align: center;/*alinea el texto al centro*/ 
   
  }

.form_card_validation{
  float: right; /*  hace al formulario flotante para que se ubique al costado del otro formulario*/
  width:400px; /*  ancho del formulario*/
  background: rgb(248, 246, 247);
  padding:30px; /*  distnaciancia del margen al texto*/
  margin: 15px;/*  del borde de la izquierda hacia el centro*/
  margin-top: 12px;
  border-radius: 4px;/*  borde del formulario*/
  font-family: calibri;/*  tipo de fuente dle texto*/
  color:rgb(255, 255, 255);/*  color de los elementos hijos*/
  box-shadow: 7px 13px 37px; /*  sombreado*/
}
 
        .form_card_validation h4 {  
            font: 32px;
            background: rgb(199, 15, 119);
            margin-bottom: 15px;
            text-align: center; /*alinea el texto al centro*/
            font-size: 20px;
            border-radius: 4px;
         }
       .form_card_validation h5 {  
            font: 32px;
            background: rgb(199, 15, 119);
            margin-bottom: 15px;
            margin: 16px 0;
            font-size: 20px;

        }
       .form_card_validation h6 {  
            font: 32px;
            background:rgb(248, 246, 247);
            margin-bottom: 15px;
            margin: 8px;
            font-size: 20px;
            color:rgb(199, 15, 119)
        }

.num_tarjeta_container{  
   width:100%;
   background: rgb(253, 212, 234);
   padding: 8px;
   border-radius: 4px;
   margin-bottom: 16px;
   border:3px none rgb(227, 106, 195);
   font-family: calibri;
   font-size: 15dpx;
}
.button_validar{
   width: 50%;
   padding: 6px; /* ancho del boton  */
   background: rgb(199, 15, 119);
   border:2px solid rgb(199, 26, 135);
   margin: 16px 80px; /* centra el boton  */
   font-family: calibri;
   font-size: 15px;
   color:rgb(247, 239, 239);
   border-radius: 5px;
    
 }
    .button_validar:hover{
        color: #859;
        background-color: rgb(245, 240, 243);
    }


.products{
  width: 70%;
  float: left;
  padding: 6px; /*ancho del boton  */
   background: white;
  border:2px solid rgb(199, 26, 135);
  margin-right: 30px; /* centra el boton  */
  margin:10px;
  font-family: calibri;
  font-size: 15px;
  color:rgb(187, 24, 122);
  border-radius: 5px;
   
}

     .products h3 {  
         font: 32px;
         background: rgb(199, 15, 119);
         margin-bottom: 15px;
         text-align: center; /*alinea el texto al centro*/
         margin: 16px 0;
         font-size: 20px;
         color:white;

}

.MontoPago {  
  float: left;
  font: 32px;
  background:rgb(248, 246, 247);
  margin-bottom: 15px;
  margin: 8px;
  font-size: 20px;
  color:rgb(174, 9, 130)

}

.header_page {  
  background-color: rgb(134, 15, 88);
  padding: 30px;
}

 .a_header{  
  background-color: rgb(134, 15, 88);
  padding:0px 2px;
  position: absolute;/* Posiciona de manera absoluta dependientodo de losatributos top, left, bottom y right, que indican la distancia a un punto*/  
  color: white;
    }

    .footer_page {  
  background-color: rgb(134, 15, 88);
   /*  position: absolute;
      bottom:0; /*le da la posición en el pie de la pagina*/
   /* width: 100%;
    height: 40px; /* ancho del pie de pagina*/
  
   /*   color: white;

}